

/* ----- Table ----- */

.edited {
  background-color: rgb(135,206,250);
}

.error {
  color: red;
}

/* Input */

input.cell-input {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: inherit;
}

div.range-filter {
  padding-top: 5px;
}

input.range-filter {
  width: 60px;
}

input.num-input {
  width: 40px;
}

select.weight-select {
  width: 55px;
}

select.volume-select {
  width: 75px;
}
